* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* width propery start */
.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

/* widht property end */
.row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justifiy-iteam {
    justify-items: center;
}

.justify-contant {
    justify-content: center;
}

.justifiy-space {
    justify-content: space-around;
}

.justifiy-between {
    justify-content: space-between;
}

.float-left {
    float: left;
}

.line-h94 {
    line-height: 94px;
}

.container {
    max-width: 1320px;
    margin: auto;
}

.text-decoration {
    text-decoration: none;
}

.logo h1 {
    font-weight: 700;
    color: white;
}

.logo h1 span {
    color: #ffc451;
}

.menu li a {
    font-weight: 600;
}

.mainbnner {
    background-image: url(../public/image/hero-bg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 5;
    opacity: 2;
}

.one {
    color: #ffc451;
}

.banner::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.631);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 1;

}

.main-cont {
    margin-top: 150px !important;
}

.main-cont h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.main-cont h1 span {
    color: #ffc451;
}

.main-cont h2 {
    font-size: 24px;
    color: white;
}

.icon-box {
    padding: 30px;
}

.icon-box i {
    font-size: 32px;
    line-height: 1;
    color: #ffc451;
}

.icon-box h3 {
    color: white;
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
}

.main-table .col-2 {
    border: 1px solid grey;
    margin: 10px;
}

.menu li:hover a {
    color: #ffc451 !important;
    transition: all linear 0.3s;
}

.main-table .col-2:hover {
    box-shadow: 0px 0px 0px 3px #ffc451;
    transition: all ease-in-out 0.3s;
}

.icon-box h3:hover {
    color: #ffc451;
    transition: all linear 0.3s;
}